In [1]:
#librerias que se van a utilizar 
import pandas as pd 
import numpy as np

In [2]:
#carga de dataset
data = pd.read_csv('archivo.csv')

In [3]:
#verificar que tipo de datos tiene el dataset
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1181 entries, 0 to 1180
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1181 non-null   int64
 1   Company           1181 non-null   object
 2   Valuation ($B)    1181 non-null   object
 3   Date Joined       1181 non-null   object
 4   Country           1181 non-null   object
 5   City              1164 non-null   object
 6   Industry          1181 non-null   object
 7   Select Investors  1180 non-null   object
dtypes: int64(1), object(7)
memory usage: 73.9+ KB

In [19]:
#<<<<<<<<<<<<<<<Limpieza de datos>>>>>>>>>>>> 

#Limpieza del campo Valuation
datos = pd.DataFrame(data)
datos.rename({'Valuation ($B)':'Valuation'},axis=1)
datos.head()

,Unnamed: 0,Company,Valuation,Date Joined,Country,City,Industry,Select Investors
0,0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [27]:
#Eliminar espacios de las columnas para poder acceder a ellas
datos.columns = datos.columns.str.replace(' ','_')
#datos = datos.iloc[:,1:]# --->Si quiere borrar la columna unnamed
datos.head()

,Company,Valuation,Date_Joined,Country,City,Industry,Select_Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [28]:
#primer forma para poder borrar el $
programa = datos.Valuation.str.replace("$","",regex=True)
#segunda forma --> datos.Valuation.str.split("$").str.join("")
datos.Valuation = programa
datos.head()

,Company,Valuation,Date_Joined,Country,City,Industry,Select_Investors
0,ByteDance,140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [29]:
#como se observa el campo Valuation es de tipo object
datos.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1181 entries, 0 to 1180
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1181 non-null   object
 1   Valuation         1181 non-null   object
 2   Date_Joined       1181 non-null   object
 3   Country           1181 non-null   object
 4   City              1164 non-null   object
 5   Industry          1181 non-null   object
 6   Select_Investors  1180 non-null   object
dtypes: object(7)
memory usage: 64.7+ KB

In [31]:
#convierto el campo Valuation a tipo float64
datos['Valuation'] =  datos['Valuation'].astype('float64')
#comprobacion:
datos.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1181 entries, 0 to 1180
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1181 non-null   object
 1   Valuation         1181 non-null   float64
 2   Date_Joined       1181 non-null   object
 3   Country           1181 non-null   object
 4   City              1164 non-null   object
 5   Industry          1181 non-null   object
 6   Select_Investors  1180 non-null   object
dtypes: float64(1), object(6)
memory usage: 64.7+ KB

In [35]:
#Veo si tengo datos nulos
datos.isnull().sum()

Company              0
Valuation            0
Date_Joined          0
Country              0
City                17
Industry             0
Select_Investors     1
dtype: int64

In [38]:
#remplazo los datos nulos
datos["City"].fillna("No city", inplace = True)

In [39]:
#se guardan los cambios en el csv
datos.to_csv('archivo.csv',index=False )