In [18]:
#librerias que se van a utilizar 
import pandas as pd 
import numpy as np

In [19]:
#carga de dataset
data = pd.read_csv('archivo.csv')

In [20]:
#verificar que tipo de datos tiene el dataset
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1181 entries, 0 to 1180
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1181 non-null   object
 1   Valuation         1181 non-null   float64
 2   Date_Joined       1181 non-null   object
 3   Country           1181 non-null   object
 4   City              1181 non-null   object
 5   Industry          1181 non-null   object
 6   Select_Investors  1180 non-null   object
dtypes: float64(1), object(6)
memory usage: 64.7+ KB

In [21]:
#<<<<<<<<<<<<<<<Limpieza de datos>>>>>>>>>>>> 

#Limpieza del campo Valuation
datos = pd.DataFrame(data)
datos.rename({'Valuation ($B)':'Valuation'},axis=1)
datos.head()

,Company,Valuation,Date_Joined,Country,City,Industry,Select_Investors
0,ByteDance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,127.0,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100.0,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,40.0,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [22]:
#Eliminar espacios de las columnas para poder acceder a ellas
datos.columns = datos.columns.str.replace(' ','_')
#datos = datos.iloc[:,1:]# --->Si quiere borrar la columna unnamed
datos.head()

,Company,Valuation,Date_Joined,Country,City,Industry,Select_Investors
0,ByteDance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,127.0,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100.0,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,40.0,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [24]:
#primer forma para poder borrar el $
programa = datos.Valuation.astype(str).str.replace("$","",regex=True)
#segunda forma --> datos.Valuation.str.split("$").str.join("")
datos.Valuation = programa
datos.head()

,Company,Valuation,Date_Joined,Country,City,Industry,Select_Investors
0,ByteDance,140.0,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,127.0,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100.0,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95.0,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,40.0,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [25]:
#como se observa el campo Valuation es de tipo object
datos.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1181 entries, 0 to 1180
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1181 non-null   object
 1   Valuation         1181 non-null   object
 2   Date_Joined       1181 non-null   object
 3   Country           1181 non-null   object
 4   City              1181 non-null   object
 5   Industry          1181 non-null   object
 6   Select_Investors  1180 non-null   object
dtypes: object(7)
memory usage: 64.7+ KB

In [26]:
#convierto el campo Valuation a tipo float64
datos['Valuation'] =  datos['Valuation'].astype('float64')
#comprobacion:
datos.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1181 entries, 0 to 1180
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1181 non-null   object
 1   Valuation         1181 non-null   float64
 2   Date_Joined       1181 non-null   object
 3   Country           1181 non-null   object
 4   City              1181 non-null   object
 5   Industry          1181 non-null   object
 6   Select_Investors  1180 non-null   object
dtypes: float64(1), object(6)
memory usage: 64.7+ KB

In [28]:
#En el campo Valuation convierto la primera en mayuscula para que no haya repetidos
letra = datos.Industry.astype(str).str.capitalize()
datos.Industry = letra
#verifico que ya no aparezcan repetidos los datos
datos.Industry.value_counts()

In [29]:
#Veo si tengo datos nulos
datos.isnull().sum()

Company             0
Valuation           0
Date_Joined         0
Country             0
City                0
Industry            0
Select_Investors    1
dtype: int64

In [30]:
#remplazo los datos nulos
datos["City"].fillna("No city", inplace = True)

In [33]:
#se guardan los cambios en el csv
datos.to_csv('archivo.csv',index=False )